# specific folders
**/config/discord/**
**/config/synchting/**
**/config/Caprine/**
**/config/spotify/**
**/config/corebird/**
**/config/Cadence/**
**/dconf/**
**/falkTX/**
**/gconf/**
**/jack/**
**/config/pcmanfm/**
**/config/transmission/**
**/config/syncthing/**
**/manjaro/**
**/StardewValley/**
**/vlc/**
**/libreoffice/**
**/mimeapps.list
**/epdfview/**
pavucontrol.ini
QtProject.conf
**/geany/**
**/VirtualBox/**
**/lxqt**
**knfsshare**
**libfm**
**kdenlive**
**gotop**
**obs-studio**
**GIMP**
**gtk**
**qt5ct**
**gcloud**
**/unity3d/**
**/cef_user_data/**
**/retroarch/**
**chromium**
**etcher**
**dolphinrc**
**dwarf**
**applications-merged**
**baloofilerc**
**caja**
**inkscape**
**kdeglobals**
**viewnior**
**nitrogen**
**KADOKAWA**
**olivevideoeditor.org**
**ardour5**
**bibisco**
**dmenu-recent**
**ppsspp**
**Kazakuri**
**enchant**
**falkon**
**ranger**
**BraveSoftware**
**Qt**
**QtProject**
**budgie-extras**
**evolution**
**gnome-control-center**
**goa-1.0**
**kexirc
**kritadisplayrc
**kritarc
**nautilus**
**rncbc.org**
**session**
**sqlitebrowser**
**nemo**
**Kvantum**
**Mousepad**
**clipit**
**codeblocks**
**gtk-3.0**
**hexchat**
**htop**
**applications-merged**
**morc_menu**
**neofetch**
**pcmanfm**
**pulse**
**qt5ct**
**qterminal.org**
**syncthing-gtk**
**volumeicon**
**xfce4**
**manjaro**
**user-dirs**
**Aklatan**
**Code**
**Electron**
**Electroscholars**
**Kingsoft**
**Thunar**
**Trolltech**
**autostart**
**configstore**
**plank**
**redshift**
**.swp
**xarchiver**
